<div class="grid sm:grid-cols-1 lg:grid-cols-2">

  <div class="lg:sticky lg:top-4 align-middle">
    <div class="py-6 flex flex-col justify-center sm:py-12 lg:sticky lg:top-4">
      <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
          class="absolute inset-0 bg-gradient-to-r from-amber-700 to-amber-800 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
        >
        </div>
        <div class="relative px-4 py-10 bg-amber-600 shadow-lg sm:rounded-3xl sm:p-20">
          <div class="max-w-md mx-auto">
            <div>
              <h2 id="title" class="text-2xl font-semibold">Create New Order</h2>
            </div>
            <div class="divide-y">
              <form class="py-8 text-base leading-6 space-y-4 sm:leading-7">
                
                <label class="block">
                  <span class="label-text">Table Number:</span>
                  <input
                    id="table_no"
                    type="number"
                    placeholder="Table"
                    class="input input-primary w-full max-w-xs"
                  />
                </label>
                
                <label class="flex justify-center">
                  <span class="label-text align-middle">Incomplete</span>
                  <input id="isComplete" type="checkbox" class="toggle align-middle mx-1" />
                  <span class="label-text align-middle">Complete</span>
                </label>
                
                <div class="form-control">
                  <div class="input-group">
                    <select id="plateInput" class="select select-bordered">
                      <option id="option-0" disabled selected>Pick a plate</option>
                    </select>
                    <input
                      id="qty"
                      type="number"
                      min="1"
                      max="20"
                      value="1"
                      placeholder="Qty"
                      class="input input-primary w-20"
                    />
                    <button id="addPlateBtn" class="btn btn-primary">add</button>
                  </div>
                  <div id="selectedPlatesDiv">
                    <h3 class="text-xl text-center mt-3">Selected Plates</h3>
                    <div class="grid col-span-2">
                     <div class="overflow-x-auto">
                       <table class="table table-compact w-full">
                         <thead>
                           <tr class="grid grid-cols-6">
                             <th class="col-span-4">Item</th> 
                             <th class="col-span-1">Qty</th> 
                             <th class="col-span-1">Delete</th> 
                           </tr>
                         </thead> 
                         <tbody id="selectedPlatesTable">
                         </tbody> 
                       </table>
                     </div>
                   </div>
                  </div>
                </div>

                <div class="flex justify-evenly">
                  <button id="createOrderBtn" class="btn btn-primary">create</button>
                  <button
                    style="display:none;"
                    id="editOrderBtn"
                    class="btn btn-primary"
                  >save</button>
                  <button
                    style="display:none;"
                    id="cancelBtn"
                    class="btn btn-secondary"
                  >cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1">
    {{#each orders as |order|}}
      <div class="card card-side glass m-3 shadow-md min-w-max min-h-min hover:shadow-xl">
        <div class="card-body grid grid-cols-3">
          <div class="col-span-1">
            <h2 class="card-title text-shadow" id="item-{{order.id}}">Order {{order.id}}</h2>
            <p class="text-shadow">Table#: {{order.table_no}}<p>
            <p class="text-shadow">Server: {{user.first_name}} {{user.last_name}}</p>
            <p id="active-{{order.id}}" class="text-shadow">{{#if order.completed}}Complete{{else}}Incomplete{{/if}}</p>
            <div class="card-actions">
              <button data-order="{{stringfy order}}" id="edit-{{order.id}}" class="btn btn-primary editBtn mt-2">Edit</button>
          </div>
          </div>
          
          <div class="grid col-span-2">
            <div class="overflow-x-auto">
              <table class="table table-compact w-full">
                <thead>
                  <tr>
                    <th>Item</th> 
                    <th>Qty</th> 
                    <th>Subtotal</th> 
                  </tr>
                </thead> 
                <tbody>
                  {{#each orderedItems as |item|}}
                    <tr>
                      <td>{{item.menu.item}}</td> 
                      <th>{{item.quantity}}</th> 
                      <td>{{format_currency (sum_subtotal item)}}</td> 
                    </tr>
                  {{/each}}
                </tbody> 
                <tfoot>
                  <tr>
                    <th>Total</th> 
                    <th></th> 
                    <th>{{format_currency (sum_total order.orderedItems)}}</th> 
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div>No orders found!</div>
    {{/each}}
  </div>

</div>

<script defer src="/js/orders.js"></script>