<h2 class="card-title text-shadow justify-center">{{title}}</h2>
<table class="report with-border" width = 100%><tbody>
  <tr>
    <th class="with-border">Items</td>
    <th class="with-border">Quantity</td>
    <th class="with-border">Price</td>
    {{!-- <th class="with-border">Total</td> --}}
    <th class="with-border">Completed?</td>
  </tr>
  {{#each orderedItems as |orderedItem|}}
  <tr><td class="with-border">{{menu.item}}</td>
  <td class="with-border cntr">{{quantity}}</td>
  <td class="with-border cntr">{{menu.price}}</td>
  {{!-- <td class="with-border cntr">{{total}}</td> --}}
  <td class="with-border cntr">{{#unless order.completed}}Not Completed{{else}}Completed{{/unless}}</div></tr>
{{/each}}
</tbody></table>